API_ID - 6728678197
API_HASH  - d7d3bff9f7cf9f3b111129bdbd13a065
BOT_TOKEN  - 8562237682:AAGB21IJLDa7d1lopCs5QvfktWUtZGEtffY
BOT_SECRET - kenshin2025secretkey
API_URL  - https://web-production-4ac21.up.railway.app/
ADMIN_IDS  - 6728678197
